.alert-basiclinks {
    font-size: 22px;
    text-align: right;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}

.alert-text {
    color: white;
    background-color: black;
}


button {
    transition: transform .3s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.2);
  }